:root {
  --text: #6a6a6a;
  --accent: #70996f;
  --border: #dfdfdf;
  --titles: #04180b;
  --titlefont: "Playfair Display", serif;
  --textfont: "Inter", sans-serif;
}

.body-wrapper {
  padding-top: 55px;
  min-height: calc(100vh - 55px - 45px);
}

.center-content {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.active {
  font-weight: bold;
  color: var(--accent);
}

.main-title {
  color: --text;
  font-family: var(--titlefont);
  font-size: 32px;
}

body {
  font-family: var(--textfont);
  margin: 0;
  padding: 0;
}

nav a {
  font-size: 14px;
  color: var(--text);
}

nav.menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.menu li a {
  text-decoration: none;
}

.menu li {
  display: inline;
  padding: 0 10px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo {
  padding: 10px;
  display: inline;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px var(--border);
  background-color: white;
}

.nav-bar .center-content {
  display: flex;
}

.post-vertical,
.post-horiz {
  border: solid 1px var(--border);
  flex: 1;
}

.post-vertical p,
.post-horiz p {
  font-family: var(--text);
  font-size: 14px;
  color: var(--text);
}

.post-vertical {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.post-vertical img {
  width: 100%;
}

.post-title {
  font-family: var(--titlefont);
  font-weight: lighter;
  font-size: 18px;
}

.carousel {
  display: flex;
  gap: 30px;
}

.carousel-left,
.carousel-right {
  flex: 1;
}

.carousel-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post-horiz .post {
  display: flex;
  padding: 20px;
  gap: 20px;
  height: 100%;
  box-sizing: border-box;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-cta-container {
  margin-top: auto;
  text-align: right;
}

.post-cta {
  font-family: var(--textfont);
  font-size: 12px;
  font-weight: 300;
  color: var(--accent);
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

.post-cta:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.slider {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: solid 1px var(--border);
}

.cta-main {
  font-family: var(--text);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border: 0;
  background-color: var(--accent);
  color: white;
}

footer {
  width: 400px;
  height: 100%;
  margin: auto;
  text-align: center;
}

.footer-line {
  border: solid 1px var(--border);
}

footer p {
  font-family: var(--textfont);
  color: var(--text);
  font-size: 12px;
}
