@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
  --text: #6a6a6a;
  --accent: #70996f;
  --border: #dfdfdf;
  --titles: #04180b;
  --titlefont: "Playfair Display", serif;
  --textfont: "Inter", sans-serif;
  --quotefont: "Caveat", cursive;
}

.body-wrapper {
  padding-top: 55px;
  min-height: calc(100vh - 150px);
}

.center-content {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
}

.active {
  font-weight: bold;
  color: var(--accent);
}

.main-title {
  color: --text;
  font-family: var(--titlefont);
  font-size: 32px;
}

body {
  font-family: var(--textfont);
  margin: 0;
  padding: 0;
}

nav a {
  font-size: 14px;
  color: var(--text);
}

nav.menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.menu-mobile-buttons {
  display: none;
}

.menu li a {
  text-decoration: none;
}

.menu li {
  display: inline;
  padding: 0 10px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo {
  padding: 10px;
  display: inline;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px var(--border);
  background-color: white;
  z-index: 2;
}

.nav-bar .center-content {
  display: flex;
}

.home-image {
  object-fit: cover;
  width: 100%;
  height: 530px;
  opacity: 0.7;
}

.header-section {
  position: relative;
  background-color: black;
}

.header-section .main-title {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.header-section span {
  max-width: 500px;
  font-size: 35px;
  margin-top: -100px;
  margin-left: 20px;
  margin-right: 20px;
}

.post-vertical,
.post-horiz {
  border: solid 1px var(--border);
  flex: 1;
}
.post-box p,
.post-content p,
.posts-pg {
  font-family: var(--text);
  font-size: 14px;
  color: var(--text);
  line-height: 20px;
}

.post-vertical {
  height: 100%;
}

.post-vertical img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.post-horiz img {
  width: 155px;
  object-fit: cover;
}

h2 {
  margin: 0;
  margin-top: 10px;
}

.post-title {
  font-family: var(--titlefont);
  font-weight: lighter;
  font-size: 18px;
}

.date-post {
  font-family: var(--textfont);
  font-size: 14px;
  color: var(--text);
  margin: 0;
  margin-top: 10px;
}

.carousel {
  display: flex;
  gap: 30px;
}

.carousel-left,
.carousel-right {
  flex: 1;
}

.carousel-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post-horiz .post,
.post-vertical .post {
  display: flex;
  padding: 20px;
  gap: 20px;
  height: 100%;
  box-sizing: border-box;
}

.post-vertical .post {
  flex-direction: column;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-cta-container {
  margin-top: auto;
  text-align: right;
}

.post-cta {
  font-family: var(--textfont);
  font-size: 12px;
  font-weight: 300;
  color: var(--accent);
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}

.post-cta:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.slider {
  width: 40px;
  height: 40px;
  background-color: white;
  border: solid 1px var(--border);
  margin-right: 10px;
  cursor: pointer;
}

.slider:hover {
  background-color: var(--border);
}

.cta-main {
  font-family: var(--text);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border: 0;
  background-color: var(--accent);
  color: white;
  cursor: pointer;
}

.cta-main:hover {
  background-color: white;
  color: var(--accent);
  border: solid 1px var(--accent);
}

.cta-main:hover svg path {
  stroke: var(--accent);
}

.cta-main span {
  display: inline-block;
}

.home-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.home-buttons .cta-main span,
.home-buttons .cta-main svg {
  vertical-align: middle;
}

.home-buttons .cta-main svg {
  margin-left: 5px;
}

footer {
  max-width: 400px;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.footer-line {
  border: solid 1px var(--border);
}

footer p {
  font-family: var(--textfont);
  color: var(--text);
  font-size: 12px;
}

.about-right p {
  font-family: var(--quotefont);
  font-size: 26px;
  text-align: center;
  margin: 10px;
}

.about-right img {
  width: 100%;
}

.about-container {
  display: flex;
}

.about-left {
  flex: 1;
}

.about-left h1 {
  margin-top: 100px;
  margin-left: 30px;
}

h1 {
  margin-top: 60px;
}

.about-right {
  border: solid 1px var(--border);
  margin-top: 60px;
  padding: 20px;
  padding-bottom: 12px;
}

.about-text {
  max-width: 475px;
}

.about-text p {
  font-size: 16px;
  line-height: 24px;
  margin-right: 30px;
  margin-left: 30px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.post-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: 100%;
  border: solid 1px var(--border);
  max-width: calc(50% - 15px);
  box-sizing: border-box;
  padding: 20px;
}

.post-box img {
  width: 100%;
  height: 276px;
  object-fit: cover;
}

.all-posts-cta {
  margin: 0 auto;
  margin-top: 20px;
}

.border-image {
  border: solid 1px var(--border);
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.border-image img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.single-center {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.single-center p {
  line-height: 22px;
}

.single-center h1 {
  margin-top: 0px;
}

.single-center .date-post {
  margin-top: 60px;
}

.center-contacts {
  max-width: 487px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

form {
  max-width: 490px;
  margin-top: 50px;
  margin-bottom: 50px;
}

input,
textarea {
  width: 100%;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: solid 1px var(--border);
  color: var(--text);
  font-family: var(--textfont);
}

form .cta-main {
  padding-left: 15px;
  padding-right: 15px;
}

.button-message {
  margin-top: 10px;
}

.socials img {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 20px;
}

textarea {
  min-height: 205px;
  max-height: 205px;
  min-width: 100%;
  max-width: 100%;
}

.error-message {
  font-family: var(--textfont);
  margin-bottom: 10px;
  font-size: 14px;
  color: red;
}

#success {
  font-family: var(--textfont);
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 22px;
  color: var(--accent);
  padding-top: 5px;
  padding-bottom: 5px;
}

.full-content p,
.full-content li {
  font-family: var(--text);
  font-size: 14px;
  color: var(--text);
  line-height: 20px;
}

.full-content figure {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.full-content img {
  max-width: 100%;
  height: auto;
}

.full-content figure.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-content h2 {
  font-family: var(--titlefont);
  font-size: 22px;
}

.full-content a {
  color: var(--text);
}

/* RESPONSIVE RULES */

@media only screen and (max-width: 900px) {
  .carousel {
    display: block;
  }
  .post-vertical {
    margin-bottom: 20px;
  }
  .post-vertical .post {
    flex-direction: row;
  }
  .post-vertical img,
  .post-horiz img {
    width: 155px;
    aspect-ratio: 4/5;
    object-fit: cover;
  }
}

@media only screen and (max-width: 840px) {
  .about-container {
    display: block;
    width: 100%;
  }

  .about-text {
    max-width: 100%;
  }

  .about-right {
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 700px) {
  nav.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    text-align: center;
    padding-top: 60px;
    display: none;
  }

  .menu li {
    display: block;
    padding-bottom: 30px;
  }

  li a {
    font-size: 24px;
  }
  .menu-mobile-buttons {
    margin-left: auto;
    display: flex;
  }

  .close {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .close,
  .open {
    cursor: pointer;
  }
  .main-title {
    font-size: 26px;
  }
  .header-section span {
    font-size: 24px;
    margin-top: -50px;
  }

  .posts-container {
    display: block;
  }

  .post-box {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .all-posts-cta {
    text-align: center;
  }

  .center-contacts p,
  .center-contacts .socials,
  form {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 520px) {
  .post-vertical .post,
  .post-horiz .post {
    flex-direction: column;
  }
  .post-vertical img,
  .post-horiz img {
    width: 100%;
    aspect-ratio: 16/9;
  }
}
